body{
	background-color:#0c394c;
	height:5000px;
	overflow-x:hidden;
}
.top-header{
	height:350px;
	width:100%;
	background-image:url(images/survey.jpg);
	background-position:center center;
	background-size:100% 100%;
		
}
.menu{
	height:45px;
	width:100%;
	text-align:center;
	background-color:#9795aa;
	
	
}

.menu ul li{
	display:inline-block;
	padding:12px 15px;
	transition:.7s;
	position:relative;
}
.menu ul li a{
	color:#043560;
	display:block;
}
.menu ul li:hover{
	background-color:rgba(0, 0, 0, .5);
	border-radius:14px;
}
.menu ul li:hover a{
	color:#1b90b1;
}
.menu ul li ul{
	display:none;
	position:absolute;
	top:45px;
	left:-29px;
}
.menu ul li:hover ul{
	display:block;
}
.menu ul li ul li{
	width:100px;
}
.box0{
	width:100%;
	height:600px;	
	background-image:url(images/dollar-2.jpeg);	
	background-size:100% 100%;			
}
.box0 .blur{
	height:100%;
	width:100%;
	background-color:rgba(0 ,0 ,0 , 0.5);
}
.box1{
	background-color:transparent;
	height:360px;
	width:800px;
	padding:10px;
	position:absolute;
	left:250px;
	top:485px;
    border:5px solid #d80144;	
}
.box1 .d-box{
	background-color:transparent;
	height:358px;
	width:797px;
	border-radius:50px;
	border:3px solid #d80144;
}
.box1 .box2{
	background-color:#d80144;
	width:600px;
	height:118px;
	padding:10px;
	border-radius:30px;
	position:absolute;
	top:35px;
	left:110px;
}
.box1 .box3{
	background-color:#d80144;
	width:600px;
	height:118px;
	padding:10px;
	border-radius:30px;
	position:absolute;
	top:206px;
	left:110px;
}
.box1 .box2 h1{
	text-align:center;
	color:#B3B6B7;
}
.box1 .box3 h1 span{
	display:block;
}
.box1 .box3 h1{
	text-align:center;
	color:#B3B6B7;
	margin:9px;
}
.box8{
	height:0px;
	width:0px;
	border-top:1989px solid #0c394c;
	border-bottom:6px solid transparent;
	border-left:214px solid transparent;
	border-right:251px solid transparent;
	transform:rotate(-90deg);
	position:absolute;
	top:34px;
	left:-64px;
}
.box9{
	height:0px;
	width:0px;
	border-top:642px solid #0c394c;
	border-bottom:340px solid transparent;
	border-left:106px solid transparent;
	border-right:251px solid transparent;
	transform:rotate(90deg);
	position:absolute;
	top:577px;
	left:800px;
}
.survey-ki {
	position:absolute;
	top:1040px;
	left:520px;	
	width:350px;
	
}
.survey-ki .img-q{
	background-image:url(images/q-marbk.png);
	height:400px;
	width:250px;
	background-size:100% 100%;
	background-position:center center;
	background-repeat:no-repeat;
	margin:auto;
	margin-top:25px;
	
}
.survey-ki h2{
	color:red;
	font-size:35px;
}


.box4{
	height:0px;
	width:0px;
	border-top:120px solid white;
	border-bottom:206px solid transparent;
	border-left:1111px solid transparent;
	border-right:253px solid transparent;
	position:absolute;
	top:1410px;	
	transform:rotate(180deg);
}
.box5{
	height:650px;
	width:100%;
	background-color:white;
	position:absolute;
	top:1736px;
}
.text-box{
	width:85%;		
	background-color:white;
	position:absolute;
	top:1750px;
	left:92px;	
	color:black;			
	font-size:28px;	
}
.text-box .text{
	width:50%;
	float:left;	
}
.text-box .img{
	width:50%;
	float:left;
}
.text-box:after{
	content:'';
	clear:both;
	display:block;
}
.text-box .img img{
	height:400px;
	width:550px;
}
.box6{
	height:0px;
	width:0px;
	border-top:1508px solid #0c394c;
	border-bottom:207px solid transparent;
	border-left:214px solid transparent;
	border-right:251px solid transparent;
	transform:rotate(-90deg);
	position:absolute;
	top:1510px;
	left:-64px;
}
.box7{
	height:0px;
	width:0px;
	border-top:596px solid #0c394c;
	border-bottom:202px solid transparent;
	border-left:106px solid transparent;
	border-right:251px solid transparent;
	transform:rotate(90deg);
	position:absolute;
	top:2060px;
	left:800px;
}
.need-box{
	width:100%;
	height:600px;	
	position:absolute;
	top:2380px;
}
.need-box .h-box{
	width:85%;
	margin:auto;
}
.need-box .h-box h4{
	margin-top:20px;
	color:#B3B6B7;
	font-size:20px;	
}
.need-box .h-box h4 span{
	display:block;
}
.need-box>h4{
	color:red;
	margin-left:10%;
	margin-top:75px;
	font-size:20px;
}
.need-box .m-accordion{
	width:85%;
	margin:auto;
	margin-top:10px;
}
.ip{
	height:500px;
	width:100%;
	background-color:white;
	position:absolute;
	top:2950px;
}
.ip .cir1{
    height: 0px;
    width: 0px;
    border-top: 180px solid #ffffff;
    border-bottom: 180px solid white;
    border-left: 180px solid white;
    border-right: 180px solid white;
    border-radius: 172px;
    transform: rotate(180deg);
    position: absolute;
    top: -34px;
    left: -69px;
}
.ip .cir2{
    height:0px;
    width:0px;
    border-top: 180px solid #ffffff;
    border-bottom: 180px solid white;
    border-left: 180px solid white;
    border-right: 180px solid white;
    border-radius: 172px;
    transform: rotate(180deg);
    position: absolute;
    top: -34px;
    left: 151px;
}
.ip .cir3{
    height: 0px;
    width: 0px;
    border-top: 195px solid #ffffff;
    border-bottom: 195px solid white;
    border-left: 195px solid white;
    border-right: 195px solid white;
    border-radius: 191px;
    transform: rotate(180deg);
    position: absolute;
    top: -34px;
    left: 359px;
}
.ip .cir4{
    height: 0px;
    width: 0px;
    border-top: 200px solid #ffffff;
    border-bottom: 200px solid white;
    border-left: 200px solid white;
    border-right: 200px solid white;
    border-radius: 197px;
    transform: rotate(180deg);
    position: absolute;
    top: -34px;
    left: 580px;
}
.ip .cir5{
    height: 0px;
    width: 0px;
    border-top: 200px solid #ffffff;
    border-bottom: 200px solid white;
    border-left: 200px solid white;
    border-right: 200px solid white;
    border-radius: 197px;
    transform: rotate(180deg);
    position: absolute;
    top: -34px;
    left: 807px;
}
.ip .cir6{
    height: 0px;
    width: 0px;
    border-top: 200px solid #ffffff;
    border-bottom: 200px solid white;
    border-left: 200px solid white;
    border-right: 200px solid white;
    border-radius: 197px;
    transform: rotate(180deg);
    position: absolute;
    top: -34px;
    left: 1035px;
}
.ip .cir7{
    height: 0px;
    width: 0px;
    border-top: 180px solid #ffffff;
    border-bottom: 180px solid white;
    border-left: 180px solid white;
    border-right: 180px solid white;
    border-radius: 172px;
    transform: rotate(180deg);
    position: absolute;
    top: 174px;
    left: -69px;
}
.ip .cir8{
    height:0px;
    width:0px;
    border-top: 180px solid #ffffff;
    border-bottom: 180px solid white;
    border-left: 180px solid white;
    border-right: 180px solid white;
    border-radius: 172px;
    transform: rotate(180deg);
    position: absolute;
    top: 178px;
    left: 151px;
}
.ip .cir9{
    height: 0px;
    width: 0px;
    border-top: 195px solid #ffffff;
    border-bottom: 195px solid white;
    border-left: 195px solid white;
    border-right: 195px solid white;
    border-radius: 191px;
    transform: rotate(180deg);
    position: absolute;
    top: 145px;
    left: 359px;
}
.ip .cir10{
    height: 0px;
    width: 0px;
    border-top: 200px solid #ffffff;
    border-bottom: 200px solid white;
    border-left: 200px solid white;
    border-right: 200px solid white;
    border-radius: 197px;
    transform: rotate(180deg);
    position: absolute;
    top: 137px;
    left: 580px;
}
.ip .cir11{
    height: 0px;
    width: 0px;
    border-top: 200px solid #ffffff;
    border-bottom: 200px solid white;
    border-left: 200px solid white;
    border-right: 200px solid white;
    border-radius: 197px;
    transform: rotate(180deg);
    position: absolute;
    top: 135px;
    left: 807px;
}
.ip .cir12{
    height: 0px;
    width: 0px;
    border-top: 200px solid #ffffff;
    border-bottom: 200px solid white;
    border-left: 200px solid white;
    border-right: 200px solid white;
    border-radius: 197px;
    transform: rotate(180deg);
    position: absolute;
    top: 137px;
    left: 1035px;	
}
.ip .mid{
	height:300px;
	width:100%;		
	display:block;
	position:absolute;
	top:80px;
}
.ip .mid .ip-c1{
	height:100%;
	width:16.66%;
	background-color:#827839;
	border-radius:50%;
	float:left;
}
.ip .mid .ip-c2{
	height:100%;
	width:16.66%;
	background-color:#827839;
	border-radius:50%;
	float:left;
	position:relative;
}
.ip .mid .ip-c3{
	height:100%;
	width:16.66%;
	background-color:#827839;
	border-radius:50%;
	float:left;
	position:relative;
}
.ip .mid .ip-c4{
	height:100%;
	width:16.66%;
	background-color:#827839;
	border-radius:50%;
	float:left;
	position:relative;
}
.ip .mid .ip-c5{
	height:100%;
	width:16.66%;
	background-color:#827839;
	border-radius:50%;
	float:left;
	position:relative;
}
.ip .mid .ip-c6{
	height:100%;
	width:16.66%;
	background-color:#827839;
	border-radius:50%;
	float:left;
	position:relative;
}
.ip .mid:after{
	content:'';
	clear:both;
	display:block;
}
.ip .mid .ip-c1 .text{
	position:absolute;
	top:50px;
	left:22px;
}
.ip .mid .ip-c1 .text h4{
	text-align:center;
	color:#fdeef4;
}
.ip .mid .ip-c1 .text h3{
	text-align:center;
	color:#f88017;
	margin-top:20px;
	border:1px solid black;
	font-size:21px;
	padding:2px 2px;
}
.ip .mid .ip-c1 .text h2{
	text-align:center;
	color:#FDEEF4;
	margin-top:40px;
	font-size:28px;
}
.ip .mid .ip-c1 .button{
	position:absolute;
	top:215px;
	left:68px;	
}
.ip .mid .ip-c1 .button button{
	color:#483C32;
	background-color:#C04000;
	border:2px solid #C04000;
	height:40px;
	width:100px;
	border-radius:13px;
	font-size:18px;
}
.ip .mid .ip-c2 .text{
	position:absolute;
	top:50px;
	left:40px;
}
.ip .mid .ip-c2 .text h4{
	text-align:center;
	color:#fdeef4;
}
.ip .mid .ip-c2 .text h3{
	text-align:center;
	color:#f88017;
	margin-top:20px;
	border:1px solid black;
	font-size:21px;
	padding:2px 2px;
}
.ip .mid .ip-c2 .text h2{
	text-align:center;
	color:#FDEEF4;
	margin-top:40px;
	font-size:28px;
}
.ip .mid .ip-c2 .button{
	position:absolute;
	top:215px;
	left:68px;	
}
.ip .mid .ip-c2 .button button{
	color:#483C32;
	background-color:#C04000;
	border:2px solid #C04000;
	height:40px;
	width:100px;
	border-radius:13px;
	font-size:18px;
}
.ip .mid .ip-c3 .text{
	position:absolute;
	top:50px;
	left:40px;
}
.ip .mid .ip-c3 .text h4{
	text-align:center;
	color:#fdeef4;
}
.ip .mid .ip-c3 .text h3{
	text-align:center;
	color:#f88017;
	margin-top:20px;
	border:1px solid black;
	font-size:21px;
	padding:2px 2px;
}
.ip .mid .ip-c3 .text h2{
	text-align:center;
	color:#FDEEF4;
	margin-top:40px;
	font-size:28px;
}
.ip .mid .ip-c3 .button{
	position:absolute;
	top:215px;
	left:68px;	
}
.ip .mid .ip-c3 .button button{
	color:#483C32;
	background-color:#C04000;
	border:2px solid #C04000;
	height:40px;
	width:100px;
	border-radius:13px;
	font-size:18px;
}
.ip .mid .ip-c4 .text{
	position:absolute;
	top:50px;
	left:40px;
}
.ip .mid .ip-c4 .text h4{
	text-align:center;
	color:#fdeef4;
}
.ip .mid .ip-c4 .text h3{
	text-align:center;
	color:#f88017;
	margin-top:20px;
	border:1px solid black;
	font-size:21px;
	padding:2px 2px;
}
.ip .mid .ip-c4 .text h2{
	text-align:center;
	color:#FDEEF4;
	margin-top:40px;
	font-size:28px;
}
.ip .mid .ip-c4 .button{
	position:absolute;
	top:215px;
	left:68px;	
}
.ip .mid .ip-c4 .button button{
	color:#483C32;
	background-color:#C04000;
	border:2px solid #C04000;
	height:40px;
	width:100px;
	border-radius:13px;
	font-size:18px;
}
.ip button a{
	color:#483C32;
	padding:10px 3px;
}
.ip .mid .ip-c5 .text{
	position:absolute;
	top:50px;
	left:40px;
}
.ip .mid .ip-c5 .text h4{
	text-align:center;
	color:#fdeef4;
}
.ip .mid .ip-c5 .text h3{
	text-align:center;
	color:#f88017;
	margin-top:20px;
	border:1px solid black;
	font-size:21px;
	padding:2px 2px;	
}
.ip .mid .ip-c5 .text h3 span{
	display:block;
}
.ip .mid .ip-c5 .text h2{
	text-align:center;
	color:#FDEEF4;
	margin-top:20px;
	font-size:28px;
}
.ip .mid .ip-c5 .button{
	position:absolute;
	top:215px;
	left:68px;	
}
.ip .mid .ip-c5 .button button{
	color:#483C32;
	background-color:#C04000;
	border:2px solid #C04000;
	height:40px;
	width:100px;
	border-radius:13px;
	font-size:18px;
}
.ip .mid .ip-c6 .text{
	position:absolute;
	top:50px;
	left:30px;
}
.ip .mid .ip-c6 .text h4{
	text-align:center;
	color:#fdeef4;
}
.ip .mid .ip-c6 .text h3{
	text-align:center;
	color:#f88017;
	margin-top:20px;
	border:1px solid black;
	font-size:21px;
	padding:2px 2px;
}
.ip .mid .ip-c6 .text h2{
	text-align:center;
	color:#FDEEF4;
	margin-top:40px;
	font-size:28px;
}
.ip .mid .ip-c6 .button{
	position:absolute;
	top:215px;
	left:68px;	
}
.ip .mid .ip-c6 .button button{
	color:#483C32;
	background-color:#C04000;
	border:2px solid #C04000;
	height:40px;
	width:100px;
	border-radius:13px;
	font-size:18px;
}
.ip .mid .ip-c1:hover{
	background-color:#BDC581;
}
.ip .mid .ip-c1 .button button:hover{
	background:#ee5253;
	border:1px solid #ee5253;	
}
.ip .mid .ip-c2:hover{
	background-color:#BDC581;
}
.ip .mid .ip-c2 .button button:hover{
	background:#ee5253;
	border:1px solid #ee5253;	
}
.ip .mid .ip-c3:hover{
	background-color:#BDC581;
}
.ip .mid .ip-c3 .button button:hover{
	background:#ee5253;
	border:1px solid #ee5253;	
}
.ip .mid .ip-c4:hover{
	background-color:#BDC581;
}
.ip .mid .ip-c4 .button button:hover{
	background:#ee5253;
	border:1px solid #ee5253;	
}
.ip .mid .ip-c5:hover{
	background-color:#BDC581;
}
.ip .mid .ip-c5 .button button:hover{
	background:#ee5253;
	border:1px solid #ee5253;	
}
.ip .mid .ip-c6:hover{
	background-color:#BDC581;
}
.ip .mid .ip-c6 .button button:hover{
	background:#ee5253;
	border:1px solid #ee5253;	
}
.about-ip{
	width:85%;	
	margin:auto;
	position:absolute;
	top:3550px;
	left:92px;
	
}
.about-ip p{
	font-size:20px;
	color:#B3B6B7;
	margin-bottom:15px;
}
.about-ip p:nth-child(2){
	color:#d80144;
}
.contract-form{
	height:400px;
	width:70%;
	background-color:#d80144;
	position:absolute;
	top:3800px;
	left:190px;
	border-radius:20px;
}
.contract-form .mid{
	width:80%;
	margin:auto;
	border:1px solid black;
}
.contract-form .name .f-name{
	width:50%;
	float:left;	
}
.contract-form .name .l-name{
	width:50%;
	float:left;
}
.name:after{
	content:'';
	display:block;
	clear:both;
}
.contract-form .name .f-name p{
	margin-top:10px;
}
.contract-form .name .f-name input{
	height:30px;
	width:300px;	
	border-radius:10px;
}
.contract-form .name .l-name p{
	margin-top:10px;
}
.contract-form .name .l-name input{
	height:30px;
	width:300px;	
	border-radius:10px;
}
.contract-form .contract .mail{
	width:50%;
	float:left;	
}
.contract-form .contract .phone{
	width:50%;
	float:left;
}
.contract:after{
	content:'';
	display:block;
	clear:both;
}
.contract-form .contract .mail p{
	margin-top:10px;
}
.contract-form .contract .mail input{
	height:30px;
	width:300px;	
	border-radius:10px;
}
.contract-form .contract .phone p{
	margin-top:10px;
}
.contract-form .contract .phone input{
	height:30px;
	width:300px;	
	border-radius:10px;
}
.admin{
	height:390px;
	width:100%;
	background-color:#b2bec3;
	position:absolute;
	top:3900px;
}
.admin .mid{
	width:67%;
	margin:auto;
	margin-top:2px;
}
.box11{
	height:300px;
	width:300px;
	border-radius:50%;
	background-color:green;
	float:left;
}
.box12{
	height:300px;
	width:300px;
	border-radius:50%;
	background-color:green;
	float:left;
}
.box13{
	height:300px;
	width:300px;
	border-radius:50%;
	background-color:green;
	float:left;
}
.box12 img{
	height:300px;
	width:300px;
	border-radius:50%;
}
.admin .text2{
	position:absolute;
	top:315px;
	left:555px;
}
.admin p, h5, h6{
	text-align:center;
}
.admin h5, h6{
	font-size:15px;
}
.admin .text1{
	position:absolute;
	top:315px;
	left:255px;
}
.admin .text3{
	position:absolute;
	top:315px;
	left:855px;
}
.site-name{
	position:absolute;
	top:4500px;
}
.site-name h4{
	color:#78e08f;
	font-size:20px;
}
.sites{
	height:200px;
	width:100%;
	position:absolute;
	top:4530px;
	background-color:white;
}
.sites .mid{
	margin-top:40px;
}
.sites .site1{
	width:20%;
	float:left;
}
.sites .site2{
	width:20%;
	float:left;
}
.sites .site3{
	width:20%;
	float:left;
}
.sites .site4{
	width:20%;
	float:left;
}
.sites .site5{
	width:20%;
	float:left;
}
.sites:after{
	content:'';
	clear:both;
	display:block;
}
.sites img{
	width:200px;
	height:100px;
}
.footer{
	width:100%;
	height:250px;
	position:absolute;
	top:4730px;	
}
.social{
	width:100%;
	height:70px;
	background-color:#0f1010;
	border-bottom:1px solid green;
}
.social .text{
	width:50%;
	float:left;
}
.social .icons{
	width:50%;
	float:left;
	text-align:right;
}
.social:after{
	content:'';
	clear:both;	
	display:block;
}
.social .text h4{
	color:#f7d794;
	margin-top:25px;
	margin-left:40px;
}
.footer .social .icons ul li{
	display:inline-block;	
}
.footer .social .icons ul li a{
	color:white;
	height:25px;
	width:25px;
	padding:17px 17px;
	border:1px solid white;
	border-radius:50%;
	display:block;
	text-align:center;
	margin-top:5px;
	margin-right:10px;
	font-size:23px;
}
.footer .social .icons ul li:nth-child(1) a:hover{
	background-color:#097eeb;
}
.footer .social .icons ul li:nth-child(2) a:hover{
	background-color:#ff0000;
}
.footer .social .icons ul li:nth-child(3) a:hover{
	background-color:#50abf1;
}
.footer .social .icons ul li:nth-child(4) a:hover{
	background-color:#e25a37;
}
.address{
	width:100%;
	height:150px;
	background-color:#0f1010;
}
.address .contract{
	width:25%;
	float:left;
}
.address .s-address{
	width:25%;
	float:left;
}
.address .others{
	width:25%;
	float:left;
}
.address .extra{
	width:25%;
	float:left;
}
.address:after{
	content:'';
	clear:both;
	display:block;
}
.address h4{
	color:#BDC581;
	margin-top:10px;
	margin-left:10px;
	margin-bottom:5px;
}
.address p{
	color:#CAD3C8;
	margin-left:10px;	
}
.address .others a{
	color:#58B19F;
    margin-left:10px;	
}
.address .others a:hover{
	color:#1b90b1;
}
.address .s-address address{
	color:#CAD3C8;
	margin-top:10px;
}
.address .s-address address span{
	display:block;
}
.details{
	width:100%;
	height:50px;
	background-color:#0f1010;
	border-top:1px solid green;
}
.details .copyrights{
	width:50%;
	float:left;
}
.details .designer{
	width:50%;
	float:left;
}
.details:after{
	content:'';
	clear:both;
	display:block;
}
.details .copyrights p{
	color:white;
	margin-top:15px;
	margin-left:75px;
}
.details .designer p{
	color:#32ff7e;
	text-align:center;
	margin-top:15px;
}


